<header>
    <nav>
        <ul class="nav">
            <li class='{{#if about_page}}active{{/if}}'><a href="/about/">Home</a></li>
            <li class='{{#if careers_page}}active{{/if}}'><a href="/careers/">Careers</a></li>
            <li class='{{#if team_page}}active{{/if}}'><a href="/team/">Team</a></li>
            <li class='{{#if locations_page}}active{{/if}}'><a href="/locations/">Locations</a></li>
            <li class='{{#if csr_page}}active{{/if}}'><a href="/csr/">CSR</a></li>
        </ul>
    </nav>
</header>
