/* ==========================================================================
	Directions
/* ========================================================================== */

$start: left;
$end: right;
$margin-start: margin-left;
$margin-end: margin-right;


/* ==========================================================================
	Variables
/* ========================================================================== */


/* Colors */

$color_body_copy: #444;
$color_link: #26527c;
$color_opposite: #fff;

/* Font Sizes */

$size_base: 1em;


/* ==========================================================================
	Responsive
/* ========================================================================== */

$phone-min-size: 320px;
$phone-max-size: 767px;
$tablet-min-size: 768px;
$tablet-max-size: 991px;
$laptop-min-size: 992px;
$laptop-max-size: 1279px;
$desktop-min-size: 1280px;
$desktop-max-size: 2520px;
