
html {
  --bs-body-font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-family: 'Helvetica', 'Arial', 'sans-serif' !important;
  font-weight: 400;
  color: #000;
  font-size: 10px;
}

body {
  font-family: 'Helvetica', 'Arial', 'sans-serif' !important;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
